@charset "UTF-8";

/*スタイルのリセット*/
abbr, address, article,
aside, audio, b,
blockquote, body,
canvas, cite, code,
dd, del, details,
dfn, div, dl,
dt, em, fieldset,
figcaption, figure, footer,
form, h1, h2,
h3, h4, h5,
h6, header,
hgroup, html, i,
iframe, img, ins,
kbd, label, legend,
li, main, mark,
menu, nav, object,
ol, p, pre,
q, samp, section,
small, span, strong,
sub, summary, sup,
time, ul, var, video {
	font-family: "MS Pゴシック";
	margin: 0;
	padding: 0;
	border: 0;
}

/*ラッパーのスタイル*/
#wrapper {
	max-width: 1440px;
	min-width: 1024px;
}

/*コンテナのスタイル*/
#contener {
	background-color: #EEEEEE;
}

/*ヘッターのスタイル*/
.block-header {
	/*margin: 0 10px;*/
	padding: 0 20px 10px;
	box-shadow: 0px 10px 10px -5px rgba(204, 204, 204, 0.6);

}

.color-green {
	color: #00abae;
}

/*メインとサブメインのテキストを中央寄せと余白の調整*/
.main, .sub-main {
	text-align: center;
}

/*メインとサブメインのタイトルのスタイル*/
.main h2, .sub-main h2 {
	letter-spacing: 0.1em;
	margin: 6px;
	padding: 6px;
}

/*メインのスタイル*/
.main b {
	display: block;
	margin: 3px;
	padding: 3px;
}

.main p, .main ul li{
	margin: 3px;
	padding: 3px;
}

.main :nth-child(4) {
	color: #00abae;
}

.main ul li {
	display: inline-block;
	list-style: none;
}

.main ul li img {
	width: 50px;
	height: 50px;
}


/*サブメインのスタイル*/
.sub-main h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.sub-main :nth-child(4) {
	color: #00abae;
}

 .sub-main  h3, .sub-main p {
	margin: auto;
	/*min-width: 620px;*/
	max-width: 620px;
	padding: 6px;
	text-align: left;
}

.sub-main .button {
	min-width: 310px;
	/*max-width: 310px;*/
	line-height: 30px;
	text-align: center;
	display: inline-block;
	background: #00abae;
	color: #ffff;
	border-radius: 5px;
	text-decoration: none;
	margin-bottom: 30px;
}

.block-footer {
	text-align: center;
	margin: 0 10px;
	padding: 0 20px 10px;
}